.slideshow {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: center;
  position:relative;
  top: 3px;
}

.slideshow-grid {
  display: grid;
  grid-template-columns: 100% 100% 100% 100% 100% 100%;
  grid-gap: 0px;

}

/* .image-container > * {
  animation: 15s autoplay infinite ease-in-out;
} */

@keyframes autoplay {
  0% {left: 100%} /*Where the first picture starts*/
  4% {left: 0%}
  16.67% {left: 0%}
  20.67% {left: -100%}
  33.33% {left: -100%}
  37.33% {left: -200%}
  50% {left:-200%}
  54% {left: -300%}
  66.67% {left:-300%}
  70.67% {left: -400%}
  83.33% {left: -400%}
  87.33% {left: -500%}
  100% {left: -500%}


}


.image-container {
  width: 100%;
  height: 60%;
  position: relative;
  transition: left 2s;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  animation: 18s autoplay infinite ease-in-out;
}


.slide {
  margin: 0;
  padding: 0;
  height: auto;
  width:100%;
  /* animation-name: slidein; */
}

.button-container {
  top: -30px;
  position: relative;
  z-index: 99999999;


}
.slider-button {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 7px;
  background-color: white;
  border-style: solid;
  border-color: #c1c1c1;
  border-width: 2.6;
}



#slide-1:target ~ .image-container {
  left: 0;
}

#slide-2:target ~ .image-container {
  left: -100%;
}

#slide-3:target ~ .image-container {
  left: -200%;
}

#slide-4:target ~ .image-container {
  left: -300%;
}

#slide-5:target ~ .image-container {
  left: -400%;
}

#slide-6:target ~ .image-container {
  left: -500%;
}
